<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple HTML Form</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
</head>
<body>
<form name="mlform"  method="post">
    <h1>Twitter Sentiment Extraction</h1>
     
    <div class="row">
        <label><h3>Enter the Sentence</h3></label>
        <div class="form-group">
            <textarea  class="form-control" name="sentence"  id="original" placeholder="Enter your Text"></textarea>
        </div>  
    </div>
    <div class="row">
        <label><h3>Select the Sentiment</h3></label>
        <div class="form-inline">
            <label><input type="radio" name="sentiment" value="positive"> Positive</label>
            <label><input type="radio" name="sentiment" value="negative"> Negative</label> 
        </div>        
    </div> 
    
    <div class="row">
        <input type="submit" value="Submit">
    </div>

    {% if prediction %}
    <h3 align="left" > Sentence:  {{sent}} </h3>
    <h3 align="left" > Extracted word:  {{prediction}} </h3>
    {% endif %}
</form>
</body>
</html>